:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --secondary-primary-text-color-theme-dark: #2f303a;
  --secondary-primary-text-color-theme-light: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: var(--primary-font-family);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* components */

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-part {
  color: var(--accent-color);
}

.tagline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-primary-text-color-theme-light);
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

/* header */

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--secondary-primary-text-color-theme-light);
}

.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-primary-text-color-theme-light);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}


/* hero */

.hero {
  background-color: var(--secondary-primary-text-color-theme-dark);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}


/* about-us */


/* team */

.team-list-img-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.team-list-img-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-primary-text-color-theme-light);
}

/* footer */

.footer {
  font-family: inherit;
  background-color: var(--secondary-primary-text-color-theme-dark);
}

.logo-part-footer {
  color: var(--primary-text-color-theme-dark);
}

.address-contact-maps {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.address-contact-mail {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-contact-number {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


/* portfolio */

.page-nav-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.page-nav-button:hover,
.page-nav-button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.examples-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
}

.examples-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--secondary-primary-text-color-theme-light);
}